<?xml version="1.0"?>

<model>
  <name>ruinsV1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>chasey yan</name>
    <email>mealncholycy@gmail.com</email>
  </author>

  <description>
    ruinsV1, a model of a ruined structure, suitable for use in simulation environments. Designed to provide a realistic representation of a decayed building, it can be used in various scenarios such as training, testing, or entertainment. The model includes detailed textures and geometry to enhance visual fidelity and immersion in virtual worlds.
  </description>

</model>
